<!--We gonna agroup all in an "content-box"-->
<div class="content-box">

<!--Now we gonna put another "content-box" but this box will be colored so we gonna rename this to "content-purple-box"-->
  <div class="content-purple-box cpb1">

<!--Now we gonna create a class for the title of the colored box-->
    <p class="title-box">
      Historia del hospital
    </p>

<!--And we gonna do the same with the text, as we know, a different colored box is equal to different colours in the text and the background-->
    <p class="text-box">
      El hospital Garrahan, fundado en 1987, tiene casi 30 años de historia. Sin embargo, el proyecto que le dio origen se remonta a mucho tiempo atrás.
    <br>
      Ya en 1969, un grupo destacado de médicos pediatras del Hospital de Niños Dr. Ricardo Gutiérrez, encabezados por el doctor Carlos Gianantonio,
      elaboró un programa médico para un nuevo modelo de establecimiento pediátrico. La propuesta fue elevada a través de la secretaría de Salud Pública
      de la ciudad de Buenos Aires a la Nación.
    </p>
<!--End of the colored box-->
  </div>

<!--Here we gonna put another "content-box" but called "text-content" for make some diference between this and the other "content-box"-->
  <div class="text-content">
    En base a este programa, la secretaría llamó a concurso nacional de croquis preliminares en 1971: el hospital se ubicaría en el predio de Republiquetas y Galván,
    en Parque Saavedra. Un jurado presidido por el Profesor Dr. José Raúl Vázquez, de la Sociedad Argentina de Pediatría, e integrado por arquitectos representantes
    de distintos organismos públicos y privados, eligió finalmente el proyecto presentado por el estudio de los arquitectos Vidal, Egoscue, Bischof, Aftalion,
    Do Porto y Escudero.
<!--Some <br> to make a ordened text and not spam the <div> of "text-content"-->
  <br>
  <br>
    A fines de 1973, el ministerio de Bienestar Social decidió cambiar el lugar de emplazamiento del edificio, que finalmente se construyó en su locación actual,
    comprendida entre las calles Combate de los Pozos, Pichincha, Avenida Brasil y 15 de Noviembre. Las obras comenzaron el 6 de mayo de 1975.
<!--The sub-title of the "text-content" box-->
  <p class="text-title">
    Principios fundacionales
  </p>
<!--Here we continue with the "text-content" and do some <br> for put some order-->
  Entre las definiciones y previsiones contenidas en aquel programa médico ya se destacaban el propósito de brindar atención médica integral y de la mejor calidad
  disponible a la población infantil de su área de influencia y actuar como hospital de referencia del sistema de atención médica pediátrica, principalmente en el
  área metropolitana, teniendo en cuenta su proyección en el ámbito nacional. Al mismo tiempo, se planteaba desarrollar una programación de docencia e
  investigación acordes con su nivel de complejidad, en el área de atención médica y administrativa sanitaria.
  <br>
  <br>
  Entre otras funciones, se destacaba la posibilidad de brindar prestaciones de la mayor complejidad en la rama básica de la pediatría y en sus respectivas
  especialidades, logrando que el establecimiento se constituya en hospital de referencia para todo el país.
  <br>
  <br>
  La organización propuesta se basó en el concepto del cuidado del paciente, lo que significaba que "la estructura de los servicios del hospital debe satisfacer
  las necesidades médicas y de enfermería de los pacientes en cada etapa de su enfermedad", al tiempo que implicaba "modificar la tradicional estructura de los
  profesionales del departamento médico". Como resultado de esto, se constituyeron equipos de trabajo para realizar tareas asistenciales en todas las áreas del
  hospital. Ya entonces, también se declaraba que el hospital, de acuerdo a la evolución previsible de la política sanitaria, funcionaría con una financiación
  distinta, "en base a un sistema que, asegurando a toda la población una accesibilidad igualitaria permita, a través de un sistema de seguro o similares,
  canalizar recursos para el funcionamiento correcto del mismo".

  <!--IMAGES-->
  <p class="text-title">
    Modelo del hospital
  </p>
  En 1984, una Comisión Ejecutiva dependiente del ministerio de Salud y Acción Social, integrada por el ministro de Salud de la Provincia de Buenos Aires,
  Dr. José Astigueta, el secretario de Salud Pública y Medio Ambiente de la Municipalidad de la Ciudad de Buenos Aires, Dr. Teodoro Puga, el subsecretario de Recursos
  de Salud, Dr. Alberto Prieto, el decano de la Facultad de Medicina de la Universidad de Buenos Aires, Dr. Fernando Matera y el delegado normalizador del Instituto
  Nacional de Obras Sociales, Dr. Jorge Mera, tuvo a cargo las tareas de puesta en marcha del establecimiento.
  <br>
  <br>
  Para ello, se constituyó un Grupo Técnico Asesor que contó con el asesoramiento del Dr. Carlos Gianantonio, y estuvo integrado por los doctores Jorge Colombo,
  Margarita Vitacco, Juan Carlos O'Donnell, Luis Alberto Dal Bó, Domingo Suarez Boedo, José Viqueira Casal, Rodolfo Dameco, Armando Reale, Carlos Monti y el ingeniero
  Salvador Benaim. En 1985, fueron designados como directores ejecutivos los médicos Juan Carlos O'Donnell y Luis Alberto Dal Bó.
  <br>
  <br>
  Ante la decisión acerca del modelo jurídico y administrativo a tomar, prevaleció la idea de generar un modelo fuertemente descentralizado, y con una organización
  asistencial que incluyera características superadoras de los esquemas tradicionales. A casi 20 años de la propuesta inicial, y por Decreto del Poder Ejecutivo
  Nacional Nº 598, el 20 de abril de 1987 se creó el Ente Hospital de Pediatría S.A.M.I.C. conforme a lo prescripto en la Ley 17.102 y el Decreto Reglamentario 8284/68.
  <br>
  <br>
  Desde ese momento se intensificaron las tareas de organización, programación y equipamiento comenzadas en 1984, necesarias para la puesta en operación del
  establecimiento: se conformó un grupo de trabajo con integrantes de distintas disciplinas y especialidades médicas, expertos en administración y en mantenimiento
  hospitalario. En el período final, y gracias a la colaboración financiera de la Organización Panamericana de la Salud (OPS), la institución contaba con una
  importante dotación tecnológica y un nutrido grupo de expertos.
  <br>
  <br>
  </div>
  <div class="content-purple-box cpb2">
    <p class="title-box">
      Sobre Juan Pedro Garrahan
    </p>
    <div class="text-box">
    Juan Pedro Garrahan fue un destacado pediatra y profesor universitario. Formó a numerosos discípulos, luchó por jerarquizar su especialidad, escribió varios libros y
    artículos y tuvo una amplia visión de los problemas de la niñez. Nació en Buenos Aires, el 24 de septiembre de 1893 y murió el 3 de abril de 1965. En 1979, la
    Secretaría de salud Pública de la Nación resolvió que el Hospital Nacional de Pediatría llevase su nombre
    <br>
    <br>
    </div>
  </div>
</div>
