<div class="container-fluid content-box">
  <div class="container">
    <h6 class="content-title">Hospital de Pediatría S.A.M.I.C. <br> "Prof. Dr. Juan P. Garrahan"</h6>
  <div class="row">
  <div class="col-3">
    Contacto
    <h6>(+549-11)4122-6000 <a href="http://www.garrahan.gov.ar">www.garrahan.gov.ar</a></h6>
  </div>
  <div class="col-3">
    Dirección Hospital
    <h6>Combate de los Pozos 1881 (C 1245 AMM) C.A.B.A. República Argentina <br><br></h6>
  </div>
  <div class="col-3">
    Ingreso para pacientes
    <h6>Pichincha 1890, C.A.B.A. República Argentina <a class="disabled">¿Cómo llego?</a></h6>
  </div>
  <div class="col-3">
    Fundación Garrahan
    <h6>Combate de los Pozos 1881, 2° Piso C.A.B.A. <a href="http://www.fundaciongarrahan.org.ar">www.fundaciongarrahan.org.ar</a></h6>
</div>
<h6 class="col-4">
  Esta obra está bajo una licencia <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> Creative Commons Atribution - No  Commercial - Sin Obra Derivada 4.0 Internacional</a>
</h6>
<h6 class="col-4">
  Esto es una copia no comercial de la web oficial del Hospital de Pediatría Garrahan (C.A.B.A. -República Argentina), todos los derechos reservados por sus respectivos autores.
</h6>
</div>
</div>
</div>
